@import url('https://fonts.googleapis.com/css2?family=Bellefair&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Bellefair', serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  

}

.container {
background: url(../pics/background.jpg) no-repeat;
background-position: center;
  width: 100%;
  height: 100%;
}

.tabNav{
  display: none;
}

#imgTab{
  display: none;
}
.logo{
  width: 40px;
  height: 40px;
  margin-top: 20px;
  margin-left: 19px;
}

.topnav {
  display: block;
  overflow: hidden;
  position: relative;
  display: flex;
  justify-content: space-between;
  padding: 19px 30px;
}

.sidenav {
backdrop-filter: blur(40.7742px);
overflow: hidden;
transition: 0.5s;
padding-top: 60px;
height: 100%;
width: 0;
position: fixed;
z-index: 1;
top: 0;
left: 0;
}

.sidenav a {
  text-align: center;
  font-family: 'Barlow Condensed';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 2.7px;
  padding-top:32px;
  text-decoration: none;
  display: block;
  color: #FFFFFF;
  transition: all 0.5s ease-out;
}

.sidenav a:hover, a:focus {
  margin-bottom: 15px;
  /* background-color: #ffffff77; */
  color: #333;
}

 .closebtn{
    display: block;
    position: absolute;
    /* right: 0;
    top: 0; */
}


.open{
  color:#FFFFFF;
  margin-top: 10px;
  margin-left: 20px;
}

.close{
  color: white;
  position: fixed;
  right: 10px;
  top: 15px;
}
  .content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }



 .title{
    font-family: 'Barlow Condensed';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 2.7px;
    text-transform: uppercase;
    
    color: #FFFFFF;
}
.crew-content .crew{
  display: flex;
  flex-direction: column;
  align-items: center;
}
img {
    margin-top: 32px;
}

.bottomLine{
    width: 327px;
    height: 1px;    
    color: rgba(56, 59, 75, 1);
    opacity: 0.17;
}
.crew{
  position: relative;

}
.slider-navigation{
  z-index: 888;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateY(80px);
  position: absolute;
  top: 200px;
}

.slider-navigation .nav-btn{
  width: 10px;
  height: 10px;
  background: #fdfdfd;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0 0 2px rgba(255, 255, 255, 0.5);
  transition: 0.3s ease;
}

.slider-navigation .nav-btn:not(:last-child){
  margin-right: 20px;
}

.slider-navigation .nav-btn:hover{
  transform: scale(1.2);
}

.level1 {
    margin-top: 75px;
    font-family: 'Bellefair';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    text-align: center;
    text-transform: uppercase;
    
    color: #FFFFFF;
    
    mix-blend-mode: normal;
    opacity: 0.5;
}


.name1{
    margin-top: 8px;
    font-family: 'Bellefair';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    text-transform: uppercase;
    
    color: #FFFFFF;
}

.desc1{
    
    margin-top: 16px;
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 25px;
    text-align: center;
    color: #D0D6F9;
    text-align: inherit;
    height: 100px;
    width: 327px;

    

}

@media(min-width: 768px){
  .container{
    background: url(../pics/destinTab.jpg) no-repeat;
    background-position: center;
    display: flex;
    flex-direction: column;
  }


  .topnav{
    display: none;
  }

  .logo{
    margin: 24px 30px;
  }
  .tabNav{
    display: flex;
    gap: 231px;
  }

  .navbar{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 37px;
    width: 450px;
    height: 96px;
    background: rgba(255, 255, 255, 0.04);
    backdrop-filter: blur(40.7742px);
  }

  .navbar a{
    font-family: 'Barlow Condensed';
    font-style: normal;
    font-weight: 400;
    text-decoration: none;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 2.3625px;
    color: #FFFFFF;
  }
  #image{
    display: none;
  }

  .bottomLine{
    display: none;
  }

  .topLine{display: none;}

  .content-header{
   margin-top: 40px;
   align-self: self-start;
   margin-left: 38px;
  }

  .title{
  font-size: 24px;
  line-height: 28px;
  }

  #imgTab{
    display: block;
   padding-top: 60px;
  }

  .slider-navigation{
   margin-top: 5px;
  }


  .desc1{
    height: 84px;
    width: 458px;

  }
  
}

@media(min-width: 1440px){
  .container{
    background: url(../pics/crewDesk.png) no-repeat;

  }

  .tabNav{
    position: relative;

  }

  .bottomLine{display: none;}
  .logo{
    margin-left: 55px;
    margin-top: 64px;
    }
  .navbar{
    height: 96px;
    width: 830px;
    margin-top: 40px;
    margin-left: 262px;
  }
  .topLine{
  display: block;
    position: absolute;
    width: 473px;
    margin-top: 85px;
    margin-left: 180px;
    opacity: 0.17;
  }

  .content{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0;
  }


  .crew-content{
    display: flex;
    flex-direction: row;
  }
  .crew{
    position: relative;
  }

  .content-header{
    margin: 0;
    padding: 0;

    
  }
  .title{
    font-size: 28px;
    line-height: 34px;
    letter-spacing: 4.725px;
    padding-right: 220px;

    margin-top: 76px;
    
    
  }

  .texts{
    position: absolute;
    top: 200px;
    right: 40px;
  }


  .level1{
    font-size: 32px;
    line-height: 37px;
    text-align: inherit;
    padding-left: 10px;
  }

  .name1{
    font-size: 56px;
    line-height: 64px;
    text-align: inherit;
    padding-left: 10px;
  }

  .desc1{
    font-size: 18px;
    line-height: 32px;
    margin-left: 20px;
    width: 444px;
    height: 128px;
  }

   #imgTab{
    margin-top: 170px;
    margin-left: 70px;
   }

   .slider-navigation{
    position: absolute;
    top: 550px;
    right: 380px;
   }

}
