@import url('https://fonts.googleapis.com/css2?family=Bellefair&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Bellefair', serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    

}

.container {
  background: url(../pics//techImg.png) no-repeat;
  background-position: center;
    width: 100%;
    height: 100%;
  }

.logo{
    width: 40px;
    height: 40px;
    margin-top: 20px;
    margin-left: 19px;
   
}

.topnav {
  display: block;
  overflow: hidden;
  position: relative;
  display: flex;
  justify-content: space-between;
  padding: 19px 30px;
}
.tabNav{
  display: none;
}
.sidenav {
  backdrop-filter: blur(40.7742px);
  overflow: hidden;
  transition: 0.5s;
  padding-top: 60px;
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
}


.sidenav a {
  text-align: center;
  font-family: 'Barlow Condensed';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 2.7px;
  padding-top:32px;
  text-decoration: none;
  display: block;
  color: #FFFFFF;
  transition: all 0.5s ease-out;
}

.sidenav a:hover, a:focus {
  margin-bottom: 15px;
  background-color: #ffffff77;
  color: #333;
}

.sidenav .closebtn{
    display: block;
    position: absolute;
    right: 0;
    top: 0;
}


.open{
  position: fixed;
  color:#FFFFFF;
  margin-top: 10px;
  margin-left: 20px;
}

.close{
  color: white;
  position: fixed;
  right: 10px;
  top: 15px;
}


  .content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.title{
    font-family: 'Barlow Condensed';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 2.7px;
    text-transform: uppercase;
    
    color: #FFFFFF;
}

 .img-container {
    
    padding-top: 32px;
}

 .btns{
    display: flex;
    justify-content: center;
    padding-top: 34px;
    gap: 16px;
}
 .nav-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 40px;
    box-sizing: border-box;
    text-align: center;
    mix-blend-mode: normal;
    border-radius: 50%;
    border: 1px solid #FFFFFF;
    cursor: pointer;
}

.nav-btn a{
    font-family: 'Bellefair';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    letter-spacing: 1px;
    
    color: white;
}

.nav-btn a:hover{
    color: black;
}
.texts{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 26px;
}

.title-name{
    font-family: 'Barlow Condensed';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    letter-spacing: 2.3625px;
    color: #D0D6F9;
}

.title-main{

    font-family: 'Bellefair';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    text-transform: uppercase;
    margin-top: 9px;
    color: #FFFFFF;
}

.description{
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 25px;
    text-align: center;
    margin-top: 16px;
    color: #D0D6F9;
    height: 175px;
    width: 327px;
}

.img-desk{
  display: none;
}

@media (min-width: 768px){
  .container{
  background: url(../pics/tech-tab.png);
  background-position: center;
  display: flex;
    flex-direction: column;
  }

  .topLine{
    display: none;
  }
  .topnav{display: none;}

  .logo{
    margin: 24px 30px;
  }
  .tabNav{
    display: flex;
    gap: 231px;
  
  }

 

  a:hover{
    color: white;
  }


  .navbar{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 37px;
    width: 450px;
    height: 96px;
    background: rgba(255, 255, 255, 0.04);
    backdrop-filter: blur(40.7742px);
  }

  .navbar a{
    position: relative;
    font-family: 'Barlow Condensed';
    font-style: normal;
    font-weight: 400;
    text-decoration: none;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 2.3625px;
    color: #FFFFFF;
    padding: 0 5px;
  }


  .navbar a:after{
    content: "";
    position: absolute;
    background-color: white;
    height: 3px;
    width: 0%;
    left: 0;
    bottom: -10px;
  }

  .navbar a:hover:after{
    width: 100%;
  }
  
  .title{
    align-self: flex-start;
    padding-left: 38.5px;
    padding-top: 40px;
  }

  img{
    height: 310px;
    width: 768px;
  }

  .nav-btn{
    height: 60px;
    width: 60px;
  }

  .title-main{
    font-size: 40px;
    line-height: 46px;
  }

  .description{
    height: 140px;
    width: 458px;
    font-size: 16px;
    line-height: 28px;
  }

  .img-desk{
    display: none;
  }
}

@media (min-width: 1440px){
  .container{
   background: url(../pics/tech-desc.png);

  }
  .logo{
    margin-left: 55px;
    margin-top: 64px;
    }
    .topnav{
      display: none;
    }
    .tabNav{
      position: relative;
  
    }
  
    .navbar{
      height: 96px;
      width: 830px;
      margin-top: 40px;
      margin-left: 262px;
    }
    .topLine{
      display: block;
      position: absolute;
      width: 483px;
      margin-top: 85px;
      margin-left: 140px;
      opacity: 0.17;
    }
  
   
    .navbar a{
      font-size: 16px;
      line-height: 19px;
      letter-spacing: 2.7px;
    }

    .img-container{
      display: none;

    }
  
  .title{
    font-size: 28px;
    line-height: 34px;
    letter-spacing: 4.725px;
    margin-left: 100px;
  }


  .img-desk{
    display: block;
    height: 527px;
    width: 515px;
    
  }

  .content{
    display: flex;
    flex-direction: row;
    gap: 80px;
  }

  .btns{
    display: flex;
    flex-direction: column;
    
  }


  .description{
    text-align: inherit;
  }



}